.nav-title {
    font-size: 24px;
    font-weight: bold;
  }
.menu-items{
    font-size: 18px;
    pointer-events: auto;
  }

.hamburger{
    filter: invert(1);
    width: 30px;
    transition: transform 0.3s ease;
  }
.hamburger-container{
    display:none;
    cursor: pointer;
    z-index: 111;
  }
  
.hamburger-container.open .hamburger {
    transform: rotate(90deg);
  }
  
.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    display: none;
  }
  
.menu-overlay ul {
    list-style: none;
    text-align: center;
    padding: 0;
  }
  
.menu-overlay li {
    margin: 20px 0;
  }
.menu-overlay a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: bold;
    transition: color 0.3s ease;
  }

.navbar img {
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    object-fit: cover;
    border-radius: 12px;
    margin-top: 8px;

    border: 1px solid white;
  }
.menu-items {
    display: flex;
    align-items: center;
    margin-left: 10px;
    border-radius: 12px;
    max-height: 48px;
    border: 1px solid white;
  }
  
.menu-items a:hover {
    background-color: #2a2a2a;
    color: white;
    text-decoration: none;
  }  
.menu-items a{
    font-size: 16px;
    margin-left: 12px;
    background-color: transparent;
    border-radius: 12px;
    color: white;
    padding:12px;
    text-decoration: none;
  }
.menu-items a:first-child{
    margin-left: 0;
  }

.navbar {
  display: flex;
  justify-content: space-between;
  width: 20%;
  margin-left: 25px;
  align-items: center;
  color: black;
  z-index: 100; 
  top: 0;
  padding: 0 20px;
  height: 70px;
}


@media (max-width: 600px){
 .navbar{
  margin-left: 12px;
 }
 
}