.featured{
    display: flex;
    margin: 0 auto;
    width: 90%;
    margin-top: 48px;
    padding:18px;
    text-align: left;
    background-color: #272629;
    justify-content: space-between;
    border-radius: 12px;
    position: relative;
     /* Frosted glass effect */
    background: rgba(39, 38, 41, 0.6); /* Slightly see-through dark */
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px); /* For Safari */
    border: 1px solid rgba(255, 255, 255, 0.1); /* optional glass edge */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* optional depth */
  }

.proj-section{
    display: flex;
    margin: 0 auto;
    width: 85%;
    margin-top: 48px;
    height: 48px;
    justify-content: space-between;
    margin-bottom: 24px;

}
.proj-section h3 {
  margin: 0;
  background-color: transparent;
  color: white;
  font-size: 20px;
  padding: 0 16px;
  line-height: 48px; /* Same as parent height */
  border-radius: 8px;
  text-align: left;
  font-size:  36px;
}

.proj-section button{
  width: 100px;
}

.learnBtn{
    display: flex;
    flex-direction: row;
    width: 40%;
    height: 40px;
    align-items: center;
    margin-bottom: 20px;
  }
.learnBtn img{
  pointer-events: all;
  filter: invert(1);
  width: 40px;
  }
  
.learnBtn h3{
    background-color: transparent;
    display: flex;
    align-items: center;
    padding-left: 10px;
    color:white;
    height:48px;
}

.techstack{
  gap: 10px;
  display: flex;
  width:400px;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 30px;
}
.badge{
  background-color: #9b70ff;
  margin: 0 auto;
  border-radius: 10px;
  padding: 5px 20px;
 }

 @media (max-width:900px) {
  .featured{
    flex-direction: column;
    align-items: center;
    width: 80%;
  }
  .rightProj{
    width: 50%;
    margin-left: 48px;
  }
  .rightProj img{
      width: 100%;
      height: 475px;
      border-radius: 12px;
      object-fit:cover;
  }

  .leftProj{
    width: 100%;
  }
  
  .leftProj h1{
    margin-bottom: 24px;
  }

  .rightProj {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    width: 100%;
    margin: 0 auto;
  }
  .rightProj img{
    width: 100%;
    height: auto;
  }
  .learnBtn{
    margin-left: 0;
  }
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.rightProj, .leftProj {
  animation: fadeIn 1s ease-in forwards;
}

.rightProj img{
  width: 100%;
}

/* ***********/
.x {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;

  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  -ms-overflow-style: none;  
  scrollbar-width: none;     
}
.x::-webkit-scrollbar {
  display: none;  
}
.box:first-child{
  margin-left: 0;
}

.box img{
  width: 350px;
  border-radius: 12px;
  height: auto;
}
.box{
  pointer-events: auto;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  padding: 15px;
  border-radius: 12px;
  background: rgba(39, 38, 41, 0.6);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px); /* For Safari */
  border: 1px solid rgba(255, 255, 255, 0.1); /* optional glass edge */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* optional depth */
}
.box img {
  border-radius: 12px;
  height: auto;
  transition: opacity 0.3s ease;
}
.box-text {
  position: absolute;
  top: 125px;
  width:350px;
  border-radius: 12px;
  color: rgb(222, 222, 222);
  opacity: 0;
  transition: opacity 0.3s ease;
}
/* Hover effect */
.box:hover img {
  opacity: 0.1;
}

.box:hover .box-text {
  opacity: 1;
}



@media (max-width: 400px) {
  .techstack{
    gap: 5px;
    width: 100%;

  }
}